@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --mainRadius : 10px;
    --darkBlue : #0083B0;
    --lightBlue : #00B4DB;
    --shadow : #00000020 0px 10px 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    color: var(--darkBlue);
}

p{
    margin-bottom: 0;
}


div#app{
    height: 90%;
    background: #e7e7e7;
    border-radius: var(--mainRadius);
    box-shadow: var(--shadow);
}

div#map{
    height: 33%;
    /* background-color: #db8d26; */
    border-top-left-radius: var(--mainRadius);
    border-top-right-radius: var(--mainRadius);
}

/* Display Infos  */

div#displayInfos{
    padding: 20px;
}

div#todayWeather{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}

div#cityAndDate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    
}

div#cityAndDate h3 {
    font-size: 1.5rem;
}

div#todayTemperatures{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    text-align: end;
}

div#todayTemperatures h3{
    font-size: 1rem;
}

div#todayDetails{
    display: flex;
    justify-content: space-around;
    gap: .2rem;
}

div#todayDetails div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: var(--shadow);
    border: #0084b031 .25px solid;
}

div#todayDetails div img{
    margin: auto;
    aspect-ratio: 1/1;
    height: 60px;
    width: 60px;
}

div#todayDetails div span{
    color: var(--darkBlue);
}
